Repository wantedPreOnboarding/19_03rd_dashboard, pull requests merged in 2022-02, with the labels that each got.

#11 [송현] Add - json-server 추가 및 세팅
  README.md
  db.json
  package.json
  yarn.lock
Labels: setting

#20 Style - Theme 컬러, 폰트 크기, 행간 크기 추가
  src/styles/theme.d.ts
  src/styles/theme.ts
Labels: style

#21 헤더 컴포넌트 구현 style
  src/App.tsx
  src/assets/images/hamburger.svg
  src/assets/images/office.svg
  src/components/atoms/HeadBtn/HeadBtn.styled.ts
  src/components/atoms/HeadBtn/HeadBtn.tsx
  src/components/atoms/HeadBtn/HeadBtn.type.ts
  src/components/atoms/Logo/Logo.styled.ts
  src/components/atoms/Logo/Logo.tsx
  src/components/atoms/index.ts
  src/components/index.ts
  src/components/molecules/HeadBtnGroup/HeadBtnGroup.styled.ts
  src/components/molecules/HeadBtnGroup/HeadBtnGroup.tsx
  src/components/molecules/LogoGroup/LogoGroup.styled.ts
  src/components/molecules/LogoGroup/LogoGroup.tsx
  src/components/molecules/index.ts
  src/components/organisms/Nav/Nav.styled.ts
  src/components/organisms/Nav/Nav.tsx
  src/components/organisms/Sidebar/Sidebar.styled.ts
  src/components/organisms/Sidebar/Sidebar.tsx
  src/components/organisms/index.md
  src/components/organisms/index.ts
  src/types/react-app-env.d.ts
Labels: style

#22 [송현]Add - axios api
  .eslintrc.js
  README.md
  db.json
  src/App.tsx
  src/api/request.ts
  src/api/request.type.ts
Labels: enhancement, test

#25 들어온 요청란 반응형 구현 완료
  src/components/atoms/Sample/Sample.styled.ts
  src/components/templates/DashboardLayout/DashboardLayout.styled.ts
  src/components/templates/DashboardLayout/DashboardLayout.tsx
  src/styles/globalStyles.tsx
  src/styles/styled.d.ts
  src/styles/theme.ts
Labels: enhancement

#26 Add nav 스타일에 Theme 스타일 추가 및 nav에 슬라이드 메뉴 구현
  src/App.tsx
  src/assets/images/office.svg
  src/components/atoms/HeadBtn/HeadBtn.styled.ts
  src/components/atoms/HeadBtn/HeadBtn.tsx
  src/components/atoms/HeadBtn/HeadBtn.type.ts
  src/components/atoms/Logo/Logo.styled.ts
  src/components/atoms/Logo/Logo.tsx
  src/components/atoms/Logo/Logo.type.ts
  src/components/molecules/HeadBtnGroup/HeadBtnGroup.styled.ts
  src/components/molecules/HeadBtnGroup/HeadBtnGroup.tsx
  src/components/molecules/LogoGroup/LogoGroup.styled.ts
  src/components/molecules/LogoGroup/LogoGroup.tsx
  src/components/molecules/LogoGroup/LogoGroup.type.ts
  src/components/organisms/Nav/Nav.styled.ts
  src/components/organisms/Nav/Nav.tsx
  src/components/organisms/Sidebar/Sidebar.styled.ts
  src/components/organisms/Sidebar/Sidebar.tsx
  src/components/organisms/Sidebar/Sidebar.type.ts
  src/components/organisms/index.ts
  src/consts/constants.ts
  src/consts/index.md
  src/styles/styled.d.ts
  src/styles/theme.ts
  yarn.lock
Labels: style, enhancement

#27 [송현] Add - Toggle Btn 스타일 & 기능 구현 완료
  src/App.tsx
  src/components/atoms/ToggleBtn/ToggleBtn.styled.ts
  src/components/atoms/ToggleBtn/ToggleBtn.tsx
  src/components/atoms/ToggleBtn/ToggleBtn.type.ts
  src/components/atoms/index.ts
  src/components/templates/DashboardLayout/DashboardLayout.styled.ts
  src/components/templates/DashboardLayout/DashboardLayout.tsx
Labels: style, enhancement, test

#29 [다빈] Style - theme font-weight, font-size 추가
  src/api/request.type.ts
  src/components/atoms/Button/Button.styled.ts
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/Button.type.ts
  src/components/atoms/CounselingBtn/CounselingBtn.styled.ts
  src/components/atoms/CounselingBtn/CounselingBtn.tsx
  src/components/atoms/CounselingBtn/CounselingBtn.type.ts
  src/components/atoms/Divider/Divider.styled.ts
  src/components/atoms/Divider/Divider.tsx
  src/components/atoms/Divider/Divider.type.ts
  src/components/atoms/index.ts
  src/components/molecules/Card/Card.styled.ts
  src/components/molecules/Card/Card.tsx
  src/components/molecules/Card/Card.type.ts
  src/components/molecules/index.ts
  src/components/templates/DashboardLayout/DashboardLayout.tsx
  src/consts/constants.ts
  src/styles/styled.d.ts
  src/styles/theme.ts
Labels: style, enhancement

#31 [송현] Add - NoResult 추가
  public/index.html
  src/components/organisms/NoResults/NoResults.styled.ts
  src/components/organisms/NoResults/NoResults.tsx
  src/components/organisms/index.ts
  src/components/templates/DashboardLayout/DashboardLayout.tsx
Labels: style

#33 [수임] Add - FilterDropDown 컴포넌트 스타일 및 check된 필터카테고리 추가 함수 및 theme 폰트사이즈 sm추가
  src/assets/images/arrowDown.svg
  src/components/molecules/LabeledCheckBox/LabeledCheckBox.tsx
  src/components/molecules/LabeledCheckBox/LabeledCheckBox.type.ts
  src/components/organisms/Filter/Filter.tsx
  src/components/organisms/FilterBar/FilterBar.styled.ts
  src/components/organisms/FilterBar/FilterBar.tsx
  src/components/organisms/FilterDropDown/FilterDropDown.tsx
  src/components/organisms/FilterDropDown/FilterDropDown.type.ts
  src/components/organisms/FilterDropDown/FilterDropDownstyled.ts
  src/components/organisms/index.ts
  src/components/templates/DashboardLayout/DashboardLayout.tsx
  src/consts/constants.ts
Labels: style, enhancement

#34 [송현] Modify - Filter, Toggle 연결
  src/components/atoms/ToggleBtn/ToggleBtn.styled.ts
  src/components/organisms/FilterBar/FilterBar.styled.ts
  src/components/organisms/FilterDropDown/FilterDropDownstyled.ts
  src/components/templates/DashboardLayout/DashboardLayout.tsx
Labels: style

#35 [다빈] Add - Reset Button 추가, '까지 납기' 문구 추가, Card 컴포넌트 Hover 시 레이아웃 깨지는 버그 수정
  db.json
  public/index.html
  src/assets/images/reset.svg
  src/components/atoms/ResetBtn/ResetBtn.styled.ts
  src/components/atoms/ResetBtn/ResetBtn.tsx
  src/components/atoms/index.ts
  src/components/molecules/Card/Card.styled.ts
  src/components/molecules/Card/Card.tsx
  src/components/organisms/FilterBar/FilterBar.tsx
  src/components/organisms/FilterDropDown/FilterDropDownstyled.ts
  src/consts/constants.ts
  src/styles/globalStyles.tsx
  src/styles/styled.d.ts
Labels: style, enhancement

#39 [다빈] Add - Reset Button 기능
  README.md
  src/components/atoms/ResetBtn/ResetBtn.tsx
  src/components/atoms/ResetBtn/ResetButton.type.ts
Labels: enhancement

#42 [송현]Docs - 파일 내용 수정
  README.md
Labels: docs

#43 [송현] Add - main으로 옮김
  README.md
  src/components/atoms/ResetBtn/ResetBtn.tsx
  src/components/atoms/ResetBtn/ResetButton.type.ts
Labels: docs
